.root {
  width: auto;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 100px;
  background-color: #6363f6;
  color: #e7e7e7;
  font-weight: 600;
}
