.root {
  width: 40%;
  height: auto;
  background-color: #fef7d8;
  display: flex;
  flex-direction: column;
}
.card_headline {
  margin: 0px;
}
.card_paragraph {
  margin: 0px;
}
.text_container {
  padding: 2px 16px 0px 0px;
}
